.field *[data-gridfield-editable-cell-column] input.text,
.field *[data-gridfield-editable-cell-column] input.checkbox,
.field *[data-gridfield-editable-cell-column] textarea,
.field *[data-gridfield-editable-cell-column] .TreeDropdownField,
.field *[data-gridfield-editable-cell-column] .chzn-container a {
	background: linear-gradient(rgba(234, 234, 234, .25), rgba(255, 255, 255, .25) 10%) repeat scroll 0 0 / 100% auto rgba(255, 255, 255, .25);
	border-color: rgba(179, 179, 179, .2) !important;
	transition: border 0.2s ease-in 0s, background 0.2s ease-in 0s;
}

.field *[data-gridfield-editable-cell-dirty="1"] input.text,
.field *[data-gridfield-editable-cell-dirty="1"] input.checkbox,
.field *[data-gridfield-editable-cell-dirty="1"] textarea,
.field *[data-gridfield-editable-cell-dirty="1"] .TreeDropdownField,
.field *[data-gridfield-editable-cell-dirty="1"] .chzn-container a:focus {
	-webkit-box-shadow: 0px 0px 5px 0px #f00;
	box-shadow: 0px 0px 5px 0px #f00;
}

.field *[data-gridfield-editable-cell-column] input.text:focus,
.field *[data-gridfield-editable-cell-column] textarea:focus,
.field *[data-gridfield-editable-cell-column] .TreeDropdownField:focus,
.field *[data-gridfield-editable-cell-column] .chzn-container a:focus,
.field *[data-gridfield-editable-cell-column] input.text:hover,
.field *[data-gridfield-editable-cell-column] textarea:hover,
.field *[data-gridfield-editable-cell-column] .TreeDropdownField:hover,
.field *[data-gridfield-editable-cell-column] .chzn-container a:hover {
	background: linear-gradient(rgba(234, 234, 234, 1), rgba(255, 255, 255, 1) 10%) repeat scroll 0 0 / 100% auto rgba(255, 255, 255, 1);
	border-color: rgba(179, 179, 179, 1) !important;
	transition: border 0.2s ease-in 0s, background 0.2s ease-in 0s;
}